form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

label {
  font-size: 21px;
  font-weight: 600;
  color: #e8e8ef;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.error-message {
  color: #efcf69;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

button {
  padding: 12px 24px;
  font-weight: bold;
  font-size: 14px;
  border: none;
  border-radius: 30px;
  transition: transform 0.2s, background-color 0.2s;
  cursor: pointer;

  &[type="submit"] {
    color: #272729;
    background: #4343e1;
    color: #e8e8ef;

    &:hover {
      transform: scale(1.05);
    }

    &:disabled {
      background: rgba(white, 0.3);
      cursor: not-allowed;
    }
  }

  &[type="button"] {
    background: #575763;
    color: #b2b2bb;

    &:hover {
      background: #e0e0e0;
      transform: scale(1.05);
      color: #272729;
    }
  }
}

.form-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
