* {
  font-family: "Arial", sans-serif;
}

.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e8e8ef;
}

.content {
  max-width: 320px;
  width: 100%;
  padding: 40px 25px;
  border-radius: 20px;
  background: #272729;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: -50%;
    right: -50%;
    width: 300%;
    height: 300%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.3), transparent);
    transform: rotate(45deg);
    z-index: -1;
  }
}
